{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field,render_field_with_errors_no_labels %}

{% block content %}
<form class="form-signin" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {% include "security/_messages.html" %}
  {{ forgot_password_form.hidden_tag() }}
  <img class="mb-4" src="{{ url_for('static', filename='img/bootstrap-solid.svg') }}" alt="" width="72" height="72">
  <p class="h5">{{ _('Send password reset instructions') }}</p>
  {{ render_field_with_errors_no_labels(forgot_password_form.email, class_="form-control", placeholder="Email address") }}
  <p> 
  {{ render_field(forgot_password_form.submit,class="btn btn-lg btn-secondary btn-block") }}
  </p>
  {% include "security/_menu.html" %}
</form>
{% endblock %}
