{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field,render_field_with_errors_no_labels %}

{% block content %}
<form class="form-signin" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {% include "security/_messages.html" %}
  {{ change_password_form.hidden_tag() }}
  <img class="mb-4" src="{{ url_for('static', filename='img/bootstrap-solid.svg') }}" alt="" width="72" height="72">
  <h4>{{ _('Change password') }}</h4>
  {{ render_field_with_errors_no_labels(change_password_form.password,class_="form-control", placeholder="Password") }}
  {{ render_field_with_errors_no_labels(change_password_form.new_password,class_="form-control", placeholder="New Password") }}
  {{ render_field_with_errors_no_labels(change_password_form.new_password_confirm,class_="form-control", placeholder="Confirm New Password") }}
  {{ render_field(change_password_form.submit,class="btn btn-lg btn-secondary btn-block") }}
  <hr/>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
  </ul>
</form>
{% endblock %}
